// --- F O N T S --- //

// VARIABLES
$--main-font: 'Helvetica', sans-serif;
$--second-font: 'Roboto', sans-serif;
$--header-font: 'Nicomoji', sans-serif;
$--title-font: 'Punc', sans-serif;
$--sub-title-font: 'Oscura', sans-serif;
$--barcode-font: 'LibreBarCode', sans-serif;

// IMPORTS
@font-face {
    font-family: Helvetica;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('../fonts/Helvetica.woff2') format('woff2');
}

@font-face {
    font-family: LibreBarCode;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('../fonts/LibreBarCode.woff2') format('woff2');
}

@font-face {
    font-family: Nicomoji;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('../fonts/Nicomoji.woff2') format('woff2');
}

@font-face {
    font-family: Oscura;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('../fonts/Oscura.woff2') format('woff2');
}

@font-face {
    font-family: Punc;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('../fonts/Punc-Bold.woff2') format('woff2');
}

@font-face {
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('../fonts/Roboto-Light.woff2') format('woff2');
}

// MAYBE ICOMOON ?
// @font-face {
//     font-display: block;
//     font-family: Icons;
//     font-stretch: normal;
//     font-style: normal;
//     font-variant: normal;
//     font-weight: normal;
//     src: url('./fonts/oxeva-icon.woff') format('woff');
// }
