// --- F O N T S --- //

// VARIABLES
$--helvetica: 'Helvetica', sans-serif;
$--roboto: 'Roboto', sans-serif;
$--nicomoji: 'Nicomoji', sans-serif;
$--punc: 'Punc', sans-serif;
$--oscura: 'Oscura', sans-serif;

// IMPORTS
@font-face {
    font-family: Helvetica;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('./public/fonts/Helvetica.woff2') format('woff2');
}

@font-face {
    font-family: Nicomoji;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('./public/fonts/Nicomoji.woff2') format('woff2');
}

@font-face {
    font-family: Oscura;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('./public/fonts/Oscura.woff2') format('woff2');
}

@font-face {
    font-family: Punc;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('./public/fonts/Punc-Bold.woff2') format('woff2');
}

@font-face {
    font-family: Roboto;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    src: url('./public/fonts/Roboto-Light.woff2') format('woff2');
}

// MAYBE ICOMOON ?
// @font-face {
//     font-display: block;
//     font-family: Icons;
//     font-stretch: normal;
//     font-style: normal;
//     font-variant: normal;
//     font-weight: normal;
//     src: url('./fonts/oxeva-icon.woff') format('woff');
// }
