@import "./reset";
@import "./vars/index.scss";

html {
  background-color: $--egg;
  color: $--main-font-color;
  font-family: $--helvetica;
  font-weight: 400;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 320px;

  @include smartphone {
    width: 400px;
  }
  @include a4 {
    width: 550px;
  }
  @include tablet {
    width: 700px;
  }
  @include tablet-landscape {
    width: 900px;
  }
  @include laptop {
    width: 1000px;
  }
  @include desktop {
    width: 1200px;
  }
}
