@import "@/styles/vars/index";

.about {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 0 20px;
  width: 100%;

  @include a4 {
    width: 100vh;
  }

  &_title {
    font-size: $--m;
    margin-bottom: $--3m;
    text-align: center;

    @include tablet {
      font-size: $--xl;
    }
  }

  &_content {
    & li {
      align-items: center;
      display: flex;
      justify-content: center;
      font-size: $--s;
      margin-bottom: $--3m;
      text-align: center;

      @include tablet {
        font-size: $--m;
      }
    }
  }
}
