@import "@/styles/vars/index";

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    border-top: 1px solid $--vanta20;
    color: $--vanta80;
    padding: $--2m $--5m;
}